<doctype html>
<head>
    <title>Cloud Server for Computing</title>
    
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
</head>

<body style="margin:30">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- <strong>Title</strong> --> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <a href="{{ url_for('.index') }}"> Abbrechen </a>
    <p>
    <p>
     
    {% from "_formhelper.html" import render_field %}
    <form method="POST" enctype="multipart/form-data">
      <dl>
        {{ form.hidden_tag() }} 
        {{ render_field(form.task_type) }}
        {{ render_field(form.owner) }}
        {{ render_field(form.duration) }}
        {{ render_field(form.main) }}
        <p>
        {{ dropzone.create(action='upload') }}
      </dl>
      <p><input type=submit id="submit" value=Hinzufügen>
    </form>
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
</body>